@import "../../assets/styles/variables.scss";
@import "../../assets/styles/reset.scss";

.container__company{
    width: 80%;
    display: flex;
    margin: 0 10%;
    flex-direction: column;
    text-align: center;
    padding: 50px 0px;
    justify-content: center;
    .title__company{
        font-size: 52px;
        color: $Dark-red;
    }
    .text__company{
        font-size: 18px;
        width: 70%;
        align-self: center;
        line-height: 25px;
        margin: 0;
    }
    .company__ours{
        width: 20%;
        padding: 10px 20px;    
        align-self: center; 
        cursor: pointer;
        margin-top: 30px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid black;
        font-weight: 700;
        font-size: 17px;
    }
    .company__ours:hover{
        background-color: $Dark-red;
        color: white;
    }
}