@import "../../assets/styles/variables.scss";
@import "../../assets/styles/reset.scss";

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    .header__figure{
        width: auto;
        margin: 10px 40px;
        .header__figure--img{
            width: auto;
            height: auto;
            cursor: pointer;
        }
    }
    .header__nav{
        width: 50%;
        padding: 0 15px;
        display: flex;
        .header__ul{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-self: center;
            list-style-type: none;
            .header__ul--li{
                font-size: 18px;
                .nav__ancora{
                    text-decoration: none;
                    color: black;
                    .icon__expand{
                        cursor: pointer;
                        width: 10px;
                    }
                }
                
                .header__servicios{
                    position: absolute;
                    top: 11%;
                    left: 53%;
                    width: 20%;
                    height: auto;
                    background-color: rgb(198, 198, 198);
                    border-radius: 10px;
                    visibility: hidden;
                    transition: opacity 0.5s ease, visibility 0.3s ease; 
                    z-index: 999;
                    .servicios__ul{
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        .header__li--servicios{
                            font-size: 20px;
                            width: 100%;
                            .ancora--servicios{
                                text-decoration: none;
                                color: black;
                                border-bottom: 1px solid $Dark-red;
                                padding: 0px 10px;
                                text-align: center;
                                margin-bottom: 15px;
                                padding-bottom: 5px;
                                display: block;
                            }
                            .ancora--servicios:hover{
                                color: $red;
                                background-color: rgb(219, 216, 216);
                            }
                        }
                    }
                }
                .header__servicios:hover{
                    visibility: visible !important;
                }
                .nav__ancora:hover{
                    color: $Dark-red;
                    font-weight: bold;
                    text-decoration:underline;
                }
                .lista__servicios:hover + .header__servicios{
                    visibility: visible;
                }
            }
        }
        
    }

    .active__header{
        text-decoration: solid underline $Dark-red 4px!important;
    }

    .burger-icon1{
        display: none;
    }
    .burger__icon{
        display: none;
    }

    .menu{
        display: none;
    }
  
}

@media(max-width: 600px){
    .header{
        width: 100vw;
        padding: 0;
        display: flex;
  
        justify-content: space-between;
        .header__nav{
            display: none;
        }
        .header__figure{
            display: flex;
            justify-content: center;
            margin-left: 5px;
        }

        .burger-icon1{
            display: block;
        }

        .burger__icon{
            display: block;
            margin-right: 10px;
        }
        .active{
            display: flex;
        }
        .menu {
            border: 1px solid;
            height: 95vh;
            width: 70vw;
            position: absolute;
            z-index: 2;
            right: 0;
            background-color: $white-secundary;
            flex-direction: column;
            border-radius: 10px;
            padding: 15px;
            border: none;

            .close{
                align-self: flex-end;
                padding: 5px 10px;
            }
            .title__burger{
                font-size: 35px;
                color: red;
                align-self: center;
            }
            .ul__burger{
                display: flex;
                flex-direction: column;
                gap: 15px;
                list-style: none;
                width: 100%;
                padding: 0;
                .li__burger{
                    border-bottom: 1px solid black;
                    text-decoration: none;
                    display: block;
                    font-size: 25px;
                    padding-left: 10px;
                    padding-bottom: 5px;
                    color: $Dark-red;
                    font-weight: 500;
                }
            }
            .redes{
                display: flex;
                justify-content: space-around;
                .wpp__redes{
                    width: 40px;
                    height: auto;
                }
                .face__redes{
                    width: 40px;
                    height: auto;
                }
                .ig__redes{
                    width: 40px;
                    height: auto;
                }
            }
            .span__burger{
                font-size: 30px;
                color: $red;
                align-self: center;
                padding-top: 10px;
                text-align:center;
            }
        }
    }
}