@import "../../assets/styles/variables.scss";
@import "../../assets/styles/reset.scss";


.footer {
    background-color: $gray;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    .footer__navegacion {
        width: 20%;
        display: flex;
        justify-content: center;
        .footer__ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 0;

            .footer__li {
                list-style: none;
                width: 45%;

                .ancora__footer {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .container__footer {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        .footer__logo {
            width: 100px;
            height: 50px;
        }
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        gap: 20px;
        align-self: center;
        color: white;
    }

    .footer__derechos {
        width: 100%;
        border-top: 1px solid white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        color: white;
    }
}

@media (max-width:600px){
    .footer{
        display: flex;
        flex-direction: column;
        .footer__navegacion{
            width: 100%;
            .footer__ul{
                .footer__li{
                    width: 100%;
                    text-align: center;
                }

            }
        }

        .container__footer{
            margin-bottom: 25px;
            height: 30px;
        }

        .footer__info{
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            width: 100%;
            justify-content: space-around;
            margin-bottom:10px;
            .direccion{
                display: none;
            }
            .item__footer{
                width: auto;
            }
        }
    }
}